.inputs {
  width: 377px;
  margin-right: 12px;
}

.container {
  display: flex;
  justify-content: center;
}

.str {
  display: flex;
  justify-content: center;
  margin-top: 146px;
}

.circle {
  list-style: none;
  margin-right: 16px;
}