.input {
  width: 377px;
  margin-right: 12px;
}

.container {
  display: flex;
  justify-content: center;
}

.p {
    margin-top: 4px;
    margin-left: 16px;
    text-align: left;
}

.str {
  display: flex;
  justify-content: center;
  margin-top: 146px;
}

.circle {
  list-style: none;
  margin-right: 16px;
}